
/*
        contact styles
*/



.contact-form-section{
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form-container{
  display: flex;
  justify-content: space-between;
}
.form-header{
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;padding: 5px;
}
.form-header h1{
  margin: 0;
  font-weight: 400;

}
.form-name{
  display: flex;
  justify-content: space-between;

}
#full_name{
  width: 43%;
  border: 1px solid #E6E8EC;
}
#business_mail{
  width: 43%;
  border: 1px solid #E6E8EC;

}
#price{
  width: 43%;
  border: 1px solid  #E6E8EC;
}
#file{
  border: 1px solid #E6E8EC;
  width: 95.5%;
}
input[type="file"]{
  padding: 10px;
  display: none;
}
.label-file{
  border: 1px solid #E6E8EC;
  border-radius: 5px;
  padding: 15px 10px;
  display: block;
  font-size: 13px;
  color: #404040;
  cursor: pointer;
}
.form-service{
  display: flex;
  justify-content: space-between;
}
#service{
  width: 43%;
}
.cf-text{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cf-text h1{
  color: white;
  font-size: 35px;
  margin: .5rem;
}
.cf-text h2{
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin: .5rem;
}
.contact-form-info-buttons{
  display: flex;
}
.contact-form-info-buttons h1 button{
  background: white;
  padding: 15px 25px;
  letter-spacing: .5px;
  font-size: 15px;
  border-radius: 10px;
  color: #0B63E5;
  cursor: pointer;
  display: flex;
  border: none;

}
.cfib{
  font-size: 20px;
  display: flex;justify-content: center;
  align-items: center;
}
.contact-form-info-buttons h2 button{
  background: #002300;
  color: white;
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.contact-form-info-buttons h2 button:hover{
  color: #E1B023;
  transition: ease-in-out .3s;
}
.cf-form{
  width: 47%;
  background: #ffffff;
  padding: 10px;
  border-radius: 15px;
}
.cf-form form{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cf-form form input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  height: 30px;
  outline: none;
}
#message{
  height: 85px;
  border: 1px solid #E6E8EC;
}
.cf-form form button{
  height: 45px;
  background: #FBBC04;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 25px 0;
}
.form-arrow{
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
}
.dumbell{
  text-decoration: none;
}
