.index-page-services-two-section {
  background-color: var(--background-light-mode);
  &.dark {
    background-color: var(--dark-mode-dark-text) !important;
  }
  &.ligth {
    background-color: var(--background-light-mode);
  }
}
.index-page-services-two-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: graffit;
  font-size: 30px;
  letter-spacing: 3px;
  color: var(--dark-mode-dark-text);
  &.dark {
    color: var(--background-light-mode);
  }
  &.ligth {
    color: var(--dark-mode-dark-text) !important;
  }
}
.service-description .sd-text {
  color: var(--dark-mode-dark-text);
  &.dark {
    color: var(--background-light-mode);
  }
  &.ligth {
    color: var(--dark-mode-dark-text) !important;
  }
}


@media screen and (min-width: 350px) and (max-width: 600px) {
  .index-page-services-two-section-header {
    font-size: 20px; /* Decrease font size on smaller screens */
    letter-spacing: 2px; /* Decrease letter spacing on smaller screens */
    padding: 0px 60px;
  }
}
