.index-page-services-two-section{
  background-color: var(--background-light-mode);
}
.index-page-services-two-section-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: graffit;
  font-size: 30px;
  letter-spacing: 3px;
}