
.page-width{
    width: calc(100% - 10rem);
    padding: 20px 20px;
    margin: 0 auto;
}

/*
        navbar styles
*/
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-con{
    display: flex;
    width: 60%;
    background: #e6ffe6;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    padding: 0 10px;
}
.logo{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
    height: 1.5rem;
}
.nav-list-con{
    display: flex;
    list-style: none;
    justify-content:space-between ;
    width: 40%;
}
.nav-list{
    text-decoration: none;
    color: #000000;
}
.nav-list-con ul{
    padding: 3px;
}
.nav-list-con li{
    position: relative;
    cursor: pointer;
    width: fit-content;
    list-style: none;
    font-size: 13px;
}
.nav-list-con li::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -4px;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}
.nav-list-con li:hover::after{
    color: #404040;
    transform: scaleX(1);
}
.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-buttons p button{
    background: #003700;
    border-radius: 35px;
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    color: white;
}
.search-icon{
    font-size: 15px;
    cursor: pointer;
}


/*
        banner-section styles
*/
.banner-section{
    height: 100vh;
    position: relative;
}
.banner-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    transition-duration: 1000ms;
}
.nav-placement{
    padding: 30px;
}
.banner-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.banner-text p button{
    width: 150px;
    height: 50px;
    background: rgba(230, 255, 230, 0.77);
    border-radius: 25px;
    border: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.banner-text p button p{
    height: 8px;
    width: 8px;
    background:#74ff74 ;
    border-radius: 50%;
}
.banner-text p{
    padding: 10px;
    color: #fff;
}
.banner-head-text{
    font-weight: 500;
    font-size: 25px;
}
.banner-subhead-text{
    font-size: 20px;
    font-weight: lighter;
}


/*
        Affiliation component styles
*/

.af-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.af-header p{
    font-size: 22px;
}
.af-logos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.af-logos ul{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.af-logos ul li{
    padding: 50px;
    width: 100px;
    display: flex;
    gap: 10px;
}
.af-logos ul li span svg{
    font-size: 35px;
}
.af-logos ul li span img{
    width: 35px;
    height: 35px;
}
.confluence{
   color: rgb(1 82 204);
}
.blogger{
    color: rgb(244 123 33);
}



/*
        IntroComponent styles
*/

.intro-comp-section{
    background: rgb(255 235 201);
}
.intro-comp div {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-comp div p {
    font-size:22px ;
    text-align: center;
}
.intro-image{
    padding: 0;
    width: 50%;
}
.intro-image img{
}
.intro-comp div img{
    margin-bottom: -20px;
}


/*
        PortfolioCover styles
*/


.portfolio-cover-section{
    background: #b6ffb6;
}
.pc-head{
    padding: 15px;
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pc-content{
    width: 100%;
    display: flex;
    height: 68vh;
    justify-content: space-between;
}
.pc-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pc-images{
    width: 60%;
    position: relative;
}
.pc-images p:nth-child(1){
    width: 45%;
    height: 15rem;
    position: relative;
    top: 10px;
    left: 100px;
    z-index: 3;
}
.pc-images p:nth-child(2){
    width: 45%;
    height: 15rem;
    position: relative;
    top: -180px;
    left: 150px;
    z-index: 2;
}
.pc-images p:nth-child(3){
    width: 45%;
    height: 15rem;
    position: relative;
    top: -360px;
    left: 200px;
    z-index: 1;
}
.pc-images p img{
    width: 100%;
    height: 100%;
}
.pc-images p img:hover{
    scale: 1.1;
    transition: ease-in-out;
    transition-duration: 300ms;
    cursor: pointer;
}
.pc-link{
    font-size: 20px;
    color: #04853e;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.pc-link:hover{
    cursor: pointer;
}



/*
        client styles
*/


.services{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.service-description{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sd-text p{
    max-width: 85%;
    line-height: 30px;
}
.sd-button button{
    background: #fd5025;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    transform: translateX(-180px);

}
.sd-button-active button{
    background: #fd5025;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    transform: translateX(0);
    transition-duration: 3000ms;

}
.sd-button button:hover{
    scale: 1.1;
    transition: ease-in-out;
}
.service-banner{
    width: 45%;
    position: relative;
    overflow: hidden;
}

.sb-base{
    width: 13rem;
    height: 15rem;
    top: 10px;
    right: 0;
    background: #74ff74;
    position: absolute;
}
.sb-image{
    width: 15rem;
    height: 20rem;
    position: absolute;
    top: 40px;
    right: 60px;
    transform: translateX(180px);
}
.sb-image-active{
    width: 15rem;
    height: 20rem;
    position: absolute;
    top: 40px;
    right: 60px;
    transform: translateX(0);
    transition-duration: 500ms;
}
.sb-image-active img{
    width: 100%;
    height: 100%;
}
.sb-image img{
    width: 100%;
    height: 100%;
}
.sb-base-left{
    width: 13rem;
    height: 15rem;
    top: 10px;
    left: 0;
    background: #f4bd50;
    position: absolute;
}
.sb-image-left{
    width: 15rem;
    height: 20rem;
    position: absolute;
    top: 40px;
    left: 60px;
    transform: translateX(-180px);
    transition-duration: 500ms;
}
.sb-image-left-active{
    width: 15rem;
    height: 20rem;
    position: absolute;
    top: 40px;
    left: 60px;
    transform: translateX(0);
    transition-duration: 500ms;
}

.sb-image-left img{
    width: 100%;
    height: 100%;
}
.sb-image-left-active img{
    width: 100%;
    height: 100%;
}
.sd-button-left-active button{
    background: #fd5025;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    transform: translateX(-180px);
    transition-duration: 500ms;

}
.sd-button-left{
    transform: translateX(360px);
}
.services-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.svf-section{
    display: flex;
    justify-content: space-between;
}
.svf{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.svf-image{
    width: 60%;
    height: 60%;
}
.svf-image img{
    width: 100%;
    height: 100%;
}
.svf-text{
    max-width: 90%;
}
.see-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.see-more p{
    font-size: 22px;
    font-weight: 500;
    border-bottom: 2px solid #74ff74;
}




/*
        client styles
*/




.client-review{
    position: relative;
    display: flex;
    background: #f8cf3d;
    flex-direction: column;
    overflow: hidden;
}
.white-ball{
    width: 10rem;
    height: 10rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: -5rem;
}
.black-ball-outline{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1px solid #000000;
    position: absolute;
    top: 150px;
    right: -5rem;
}
.white-ball-bottom{
    width: 10rem;
    height: 10rem;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: -5rem;
    right: 80px;
}
.client-review-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.client-review-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
    overflow: hidden;
    margin-bottom: 5rem;
}

.slider-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: #ffffff;
    border-bottom-left-radius: 10rem;
    border-top-right-radius: 10rem;
}
.slider-container p{
    margin-bottom: 1rem;
    line-height: 20px;
}

.client-image{
    width: 7em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-image img{
    width: 3em;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.client-review-text{
    padding-top: 5rem;
    width: 85%;
    font-size: .8rem;
    animation: slide ease-in-out .4s;
    color: rgba(0, 0, 0, 0.85);
}
.client-details{
    margin-left: auto;
    padding-right: 10px;
    padding-bottom: 1.7rem;
}
.client-name{
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
/*
.buttonslider{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 11rem;
    right: 0px;
}
.buttonslider-icon{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.buttonslider-icon svg{
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: rgb(142, 45, 234);
}*/
.client-review-slide{
    display: none;
    width: 0;
}
.slide-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 300ms;
}

.container-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 45%;
    bottom:2rem;
    margin-top: 5rem;
    gap: 10px;
}
.dot{
    width: 1.3rem;
    height: .5rem;
    background: #0e0404;
    border-radius: 5px;
    margin-right: .5rem;
    border: 1px solid;
}
.dot-active{
    width: 2rem;
    background: rgb(234, 234, 234);
    border: none;
    cursor: pointer;
    transition-duration: 300ms;
}




/*
        FAQ styles
*/
.faq-section{
    background: #fdfcfb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.faq-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    position: relative;
}
.faq-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-active{
    align-items: center;
    transition-duration: 300ms;
    z-index: 5;
    width: 60%;
    border-radius: 5px;
    height: 40vh;
    display: flex;justify-content: center;
    flex-direction: column;
    position: relative;
}

.faq-slide{
    position: absolute;
    width: 54%;
    height: 40vh;
    border-radius: 5px;
    display: none;
}
.question{
    text-align: center;

}
.answer{
    display: flex;justify-content: center;
    align-items: center;
    font-size: 10px;
    text-align: center;
    width: 80%;
}
.faq-container-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 10px;
}
.dot{
    width: 1.3rem;
    height: .5rem;
    background: #0e0404;
    border-radius: 5px;
    margin-right: .5rem;
    border: 1px solid;
}
.dot-active{
    width: 2rem;
    background: rgb(234, 234, 234);
    border: none;
    cursor: pointer;
    transition-duration: 300ms;
}
.faq-slide:nth-child(1){
    right: 6rem;
 }
.faq-slide:nth-child(2){
    right: 9rem;
}
.faq-slide:nth-child(3){
    right: 12rem;
}


/*
        contact styles
*/



.contact-form-section{
    background: #58a942;
}
.contact-form-container{
    display: flex;

}
.cf-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cf-text p{
    color: white;
}
.cf-form{
    width: 45%;
    background: #fbe5d2;
    padding: 10px;
    border-radius: 5px;
}
.cf-form form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cf-form form input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 30px;
    outline: none;
}
#message{
    height: 85px;
}
.cf-form form button{
    height: 45px;
    background: #013600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
}



/*
        footer styles
*/

.footer-nav{
    display: flex;
}
.footer-logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width: 60%;
}
.footer-link-comp{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.footer-links-sect{
    width: 30%;

}
.footer-links-sect h2{
    font-size: 20px;
}
.footer-link-list ul{
    padding: 0;
}
.footer-link-list li{
    font-size: 14px;
    list-style: none;
    color: #003700;
}
.footer-address-comp{
    width: 25%;
}
.footer-address div h2{
    font-size: 20px;
}
.footer-address div p{
    font-size: 14px;
}
.footer-link-list li::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -16px;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}
.footer-link-list li:hover{
    color: #003700;
    cursor: pointer;
}
.footer-link-list li:hover::after{
    color: #030303;
    transform: scaleX(1);
}
@media screen and (min-width :350px) and (max-width : 600px) {
    .page-width{
        width: calc(100% - 3rem);
        padding: 10px 10px;
        margin: 0 auto;
    }
    .banner-section{
        height: 32vh;
    }
    .nav-placement{
        padding: 10px 20px ;
    }
    .nav-con{
        width: 65%;
    }
    .logo img{
        height: .6rem;
    }
    .nav-list-con{
        height: 1rem;
        display: flex;
        align-items: center;
    }
    .nav-list-con ul{
        padding: 2px;
    }
    .nav-list-con li{
        width: 1.5rem;
        font-size: 6px;
        display:flex ;
        justify-content: center;
        align-items: center;
    }
    .nav-buttons p button{
        padding: 5px 2px;
        font-size: 6px;
        color: white;
        width: 3.5rem;
    }
    .search-icon{
        font-size: 10px ;
    }
    .nvp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-text{
        gap: 10px;
    }
    .banner-text p{
        padding: 0;
        margin: 0;
    }
    .banner-text p button{
        width: 100px;
        font-size: 10px;
        height: 30px;
    }
    .banner-text p button p{
        height: 1px;
        width: 1px;
    }
    .banner-head-text{
        font-size: 12px;
    }
    .banner-subhead-text{
        font-size: 8px;
        text-align: center;
    }
    .nav-buttons{
        height: 35px;
    }
    .affiliate-section{
    }
    .af-header{
        padding: 10px;
    }
    .af-header p{
        font-size: 10px;
    }
    .af-logos ul{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .af-logos ul li{
        padding: 15px;
    }
    .af-logos ul li span svg{
        font-size: 20px;
    }
    .af-logos ul li span img{
        height: 20px;
        width: 20px;
    }
    .af-name{
        font-size: 10px;
    }
    .intro-comp-section{
    }
    .intro-comp div{
        padding: 0;
    }
    .intro-comp div p{
        font-size: 12px;
    }
.intro-image{
    height: 50%;
}
    .intro-comp div img{
        width: 50%;
        height: 100%;
        margin-bottom: 0;
    }
    .services{
        height: 35vh;
    }
    .services p{
        margin: 0;
    }
    .sd-text h2{
        font-size: 11px;
    }
    .sd-text p{
        font-size: 9px;
        line-height: 20px;
    }
    .service-banner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sb-base{
        width: 6rem;
        height: 7.5rem;
    }
    .sb-base-left{
        width: 6rem;
        height: 7.5rem;
    }
    .sb-image{
        width: 8rem;
        height: 10rem;
    }
    .sb-image-active{
        width: 8rem;
        height: 9.5rem;
        top: 30px;
        right: 40px;
    }
    .sb-image-left{
        width: 8rem;
        height: 10rem;
    }
    .sb-image-left-active{
        width: 8rem;
        height: 9.5rem;
        top: 30px;
        left: 40px;
    }
    .sd-button-active button{
        padding: 7px 12px;
        font-size: 7px;
    }
    .sd-button{
        transform: translateX(180px);
    }
    .sd-button-left-active button{
        padding: 7px 12px;
        font-size: 7px;
        transform: translateX(0);
    }

    .svf-section{
        height: 25vh ;
    }
    .svf-text{
        font-size: 9px;
    }
    .svf{
        width: 50%;
    }
    .see-more{
        height: 8vh;
    }
    .see-more p{
        font-size: 15px;
    }
    .portfolio-cover-section{
    }
    .pc-head{
        padding: 1px;
    }
    .pc-head{
        font-size: 15px;
    }
    .pc-content{
        height: 30vh;
    }
    .pc-text{
        width: 50%;
    }
    .pct-head{
        font-size: 9px;
    }
    .pc-link{
        font-size: 14px;
    }
    .pc-images{
        width: 50%;
        overflow: hidden;
    }
    .pc-images p:nth-child(1){
        left: 0;
        width: 55%;
        height: 9rem;
    }
    .pc-images p:nth-child(2){
        left: 20px;
        width: 55%;
        top: -120px;
        height: 9rem;

    }
    .pc-images p:nth-child(3){
        left: 70px;
        width: 55%;
        top: -240px;
        height: 9rem;
    }
    .white-ball{
        width: 8rem;
        height: 8rem;
    }
    .black-ball-outline{
        width: 8rem;
        height: 8rem;
    }
    .white-ball-bottom{
        width: 8rem;
        height: 8rem;
    }
    .client-review-header h2{
        font-size: 13px;
        padding-top: 10px;
    }
    .client-review-header p{
        font-size: 10px;
    }
    .client-review-container{
        padding: 1rem;
        margin-bottom: 4rem;
        height: 20vh;
    }
    .slider-container{
        border-bottom-left-radius: 5rem;
        border-top-right-radius: 7rem;
    }
    .slider-container p{
        margin-bottom: 0;
    }
    .faq-container-dots{
        margin-top: 2rem;
    }
    .container-dots{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    .client-review-text{
        padding-top: 1.5rem;
    }
    .client-review-text p{
        padding-top: 10px;
        font-size: 7px;
        line-height: 10px;
        margin-bottom: 0;
        max-width: 90%;
    }
    .client-image{
        height: 17px;
        width: 17px;
        margin-left: auto;
        padding-right: 20px;
    }
    .client-image{
        margin-top: 5px;
    }
    .client-image img{
        width: 1em;
    }
    .client-name{
        font-size: 10px;
    }
    .client-name h4{
        margin: 2px;
        font-size: 8px;
    }
    .learn{
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: 11px;
    }
    .faqcontainer{
        padding: 0;
    }
    .faq-header{
        font-size: 11px;
    }
    .faq-slide{
        height: 25vh;
    }
    .faq-active {
        align-items: center;
        transition-duration: 300ms;
        z-index: 5;
        width: 60%;
        border-radius: 5px;
        height: 25vh;
    }
    .question h4{
        font-size: 10px;
    }
    .answer{
        width: 90%;
    }
    .answer p{
        font-size: 8px;
    }
    .faq-slide:nth-child(1){
        right: 1rem;
    }
    .faq-slide:nth-child(2){
        right: 3rem;
    }
    .faq-slide:nth-child(3){
        right: 4rem;
    }
    .cf-text p{
        font-size: 10px;
        color: white;
    }
    .cf-form{
        padding: 0px;
    }
    .cf-form form{
        padding: 13px;
    }
    .cf-form form input {
        height: 16px;
        padding: 6px;
    }
    .cf-form form input::placeholder{
        font-size: 8px;
        padding-left: 5px;
    }
    .cf-form form button{
        height: 30px;
        font-size: 9px;
        letter-spacing: 3px;
    }
    #message{
        height: 40px;
    }
    .footer-links-sect h2{
        font-size: 10px;
    }
    .footer-link-list ul{
        margin: 2px;
    }
    .footer-link-list li{
        font-size: 8px;
    }
    .footer-address-comp{
        padding-left: 4px;
    }
    .footer-address div h2{
        font-size: 10px;
    }
    .footer-address div p{
        font-size: 8px;
    }
}
@media screen and (min-width :600px) and (max-width : 950px) {
    .page-width{
        width: calc(100% - 5rem);
        padding: 20px 10px;
        margin: 0 auto;
    }
    .banner-section{
        height: 35vh;
    }
    .nav-placement{
        padding: 10px 50px ;
    }
    .logo img{
        height: 1rem;
    }
    .nav-list-con{
        height: 1rem;
        display: flex;
        align-items: center;
    }
    .nav-list-con ul{
        padding: 2px;
    }
    .nav-list-con li{
        width: 2.5rem;
        display: flex;
        justify-content: center;align-items: center;
        font-size: 8px;
    }
    .nav-buttons p button{
        padding: 5px 2px;
        font-size: 7px;
        color: white;
        width: 3.5rem;
    }
    .nvp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-icon{
        font-size: 10px ;
    }
    .banner-text{
        gap: 20px;
    }
    .banner-text p{
        padding: 0;
        margin: 0;
    }
    .banner-text p button{
        width: 100px;
        font-size: 12px;
        height: 30px;
    }
    .banner-text p button p{
        height: 1px;
        width: 1px;
    }
    .banner-head-text{
        font-size: 15px;
    }
    .banner-subhead-text{
        font-size: 10px;
        text-align: center;
    }
    .nav-buttons{
        height: 35px;
    }
    .af-header{
        padding: 15px;
    }
    .af-header p{
        font-size: 13px;
    }
    .af-logos ul{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .af-logos ul li{
        padding: 15px;
    }
    .af-logos ul li span svg{
        font-size: 25px;
    }
    .af-logos ul li span img{
        height: 25px;
        width: 25px;
    }
    .af-name{
        font-size: 13px;
    }
    .intro-comp div{
        padding: 0;
    }
    .intro-comp div p{
        font-size: 14px;
    }
    .intro-image{
        height: 40%;
    }
    .intro-comp div img{
        width: 40%;
        height: 100%;
        margin-bottom: 0;
    }
    .services{
        height: 35vh;
    }
    .services p{
        margin: 0;
    }
    .sd-text h2{
        font-size: 12px;
    }
    .sd-text p{
        font-size: 10px;
        line-height: 22px;
    }
    .service-banner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sb-base{
        width: 6.5rem;
        height: 7.5rem;
    }
    .sb-base-left{
        width: 6rem;
        height: 7.5rem;
    }
    .sb-image{
        width: 8.5rem;
        height: 10.5rem;
    }
    .sb-image-active{
        width: 8rem;
        height: 9.5rem;
        top: 30px;
        right: 40px;
    }
    .sb-image-left{
        width: 8rem;
        height: 10rem;
    }
    .sb-image-left-active{
        width: 8rem;
        height: 9.5rem;
        top: 30px;
        left: 40px;
    }
    .sd-button-active button{
        padding: 9px 14px;
        font-size: 8px;
        margin-top: .5rem;
        transform: translateX(0);
    }
    .sd-button{
        transform: translateX(180px);
    }
    .sd-button-left-active button{
        margin-top: .5rem;
        padding: 9px 14px;
        font-size: 8px;
        transform: translateX(0);
    }
    .svf-text{
        font-size: 11px;
    }
    .portfolio-cover-section{
    }
    .see-more p{
        font-size: 18px;
         margin: 1em;
    }
    .pc-head{
        padding: 1px;
    }
    .pc-head{
        font-size: 15px;
    }
    .pc-content{
        height: 30vh;
    }
    .pc-text{
        width: 50%;
    }
    .pct-head{
        font-size: 10px;
    }
    .pc-link{
        font-size: 15px;
    }
    .pc-images p:nth-child(1){
        left: 0;
        width: 55%;
        height: 9rem;
    }
    .pc-images p:nth-child(2){
        left: 20px;
        width: 55%;
        top: -120px;
        height: 9rem;

    }
    .pc-images p:nth-child(3){
        left: 70px;
        width: 55%;
        top: -240px;
        height: 9rem;
    }
    .white-ball{
        width: 9rem;
        height: 9rem;
    }
    .black-ball-outline{
        width: 9rem;
        height: 9rem;
    }
    .white-ball-bottom{
        width: 9rem;
        height: 9rem;
    }
    .client-review-header h2{
        font-size: 15px;
        padding-top: 10px;
    }
    .client-review-header p{
        font-size: 11px;
    }
    .client-review-container{
        padding: 1.3rem;
        margin-bottom: 4rem;
        height: 20vh;
    }
    .slider-container{
        border-bottom-left-radius: 5rem;
        border-top-right-radius: 7rem;
    }
    .slider-container p{
        margin-bottom: 0;
    }
    .faq-container-dots{
        margin-top: 2rem;
    }
    .container-dots{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    .client-review-text{
        padding-top: 1.5rem;
    }
    .client-review-text p{
        padding-top: 10px;
        font-size: 7px;
        line-height: 10px;
        margin-bottom: 0;
        max-width: 90%;
    }
    .client-image{
        height: 17px;
        width: 17px;
        margin-left: auto;
        padding-right: 20px;
    }
    .client-image{
        margin-top: 5px;
    }
    .client-image img{
        width: 1em;
    }
    .client-name{
        font-size: 10px;
    }
    .client-name h4{
        margin: 2px;
        font-size: 8px;
    }
    .learn{
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: 11px;
    }
    .faqcontainer{
        padding: 0;
    }
    .faq-header{
        font-size: 11px;
    }
    .faq-slide{
        height: 25vh;
    }
    .faq-active {
        align-items: center;
        transition-duration: 300ms;
        z-index: 5;
        width: 60%;
        border-radius: 5px;
        height: 25vh;
    }
    .question h4{
        font-size: 10px;
    }
    .answer{
        width: 90%;
    }
    .answer p{
        font-size: 8px;
    }
    .faq-slide:nth-child(1){
        right: 1rem;
    }
    .faq-slide:nth-child(2){
        right: 3rem;
    }
    .faq-slide:nth-child(3){
        right: 4rem;
    }
    .cf-text p{
        font-size: 10px;
        color: white;
    }
    .cf-form{
        padding: 0px;
    }
    .cf-form form{
        padding: 13px;
    }
    .cf-form form input {
        height: 16px;
        padding: 6px;
    }
    .cf-form form input::placeholder{
        font-size: 8px;
        padding-left: 5px;
    }
    .cf-form form button{
        height: 30px;
        font-size: 9px;
        letter-spacing: 3px;
    }
    #message{
        height: 40px;
    }
    .footer-links-sect h2{
        font-size: 10px;
    }
    .footer-link-list ul{
        margin: 2px;
    }
    .footer-link-list li{
        font-size: 8px;
    }
    .footer-address-comp{
        padding-left: 4px;
    }
    .footer-address div h2{
        font-size: 10px;
    }
    .footer-address div p{
        font-size: 8px;
    }

}
